//Import fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,700,700i,900&display=swap');


//Defite colors
$gray:  #D6CFCF;
$green: #91B9BA;
$pink:#F2D9D0;

//font var
$font:'Nunito', sans-serif;